<!-- index.html -->
{% extends "base.html" %}
{% block title %}成大工資管財產管理系統{% endblock %}
{% block content %}
    <div class="container">
        <script>
            function printPDF() {
                const element = document.getElementById('print-section');
                const opt = {
                    margin:       0.15,
                    filename:     '查詢結果.pdf',
                    image:        { type: 'jpeg', quality: 0.98 },
                    html2canvas:  { scale: 2 },
                    jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().set(opt).from(element).save();
            }
        </script>

        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
        <div>
            <form name="asset form" action="/" method="GET">
                財產類別:
                <input type="radio" name="asset_type" value="財產">財產
                <input type="radio" name="asset_type" value="非消耗品">非消耗品</br>
                <label for="search_asset_id">財產編號:</label>
                <input id="search_asset_id" type="text" name="search_asset_id"></br>
                {% if user_role == "系統管理者" %}
                    <label for="user_id">使用者:</label>
                    <select name="user_id">
                        <option value="">--請選擇使用者--</option>
                        {% for asset_user in asset_users %}
                            <option value="{{ asset_user.username }}">{{ asset_user.username }}</option>
                        {% endfor %}
                    </select></br>
                {% endif %}
                <input type="submit" value="查詢">
                <input type="reset" value="清除重填">
            </form>
        </div></br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" align="center">
                        <h3>
                            查詢結果
                            <button onclick="printPDF()" class="btn btn-sm btn-outline-secondary">
                                <i class="bi bi-printer"></i> 列印
                            </button>
                        </h3>
                    </div>
                    <div class="row" id="print-section">
                        {% for a in assets %}
                            {% if forloop.first %}
                            <table style="width: 98%; margin: 10px auto; padding: 10px;">
                                <tr bgcolor='#cccccc'>
                                    <td width=150>財產編號</td>
                                    <td width=250>財務名稱</td>
                                    <td width=100>廠牌</td>
                                    <td width=150>型號</td>
                                    <td width=150>序號</td>
                                    <td width=100>使用者</td>
                                    <td width=100>存放處所</td>
                                    <td width=150>購買日期</td>
                                    <td width=100>財產類型</td>
                                </tr>
                            {% endif %}
                            <tr bgcolor='{% cycle "#ffccff" "ccffcc" %}'>
                                <td><a href='{% url "detail-url" a.id %}'>{{ a.asset_code }}</a></td>
                                <td>{{ a.name }}</td>
                                <td>{{ a.brand }}</td>
                                <td>{{ a.model }}</td>
                                <td>{{ a.serial_number }}</td>
                                <td>{{ a.user  }}</td>
                                <td>{{ a.location }}</td>
                                <td>{{ a.purchase_date }}</td>
                                <td>{{ a.asset_type }}</td>
                            </tr>
                            {% if forloop.last %}
                            </table>
                            {% endif %}
                            {% empty %}
                            <h3 class="text-center">目前沒有任何財產</h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
{% endblock %}