<!-- InsertAsset.html -->
{% extends "base.html" %}
{% block title %}成大工資管財產管理系統{% endblock %}
{% block content %}
<div class='container'>
    {% if message %}
        <div class='alert alert-warning'>{{ message }}</div>
    {% endif %}
    <form name='asset inserting form' action='.' method='POST'>
        {% csrf_token %}<!-- 防止網站CSRF(Cross-site request forgery) -->
        <table>
            {{ asset_form.as_table }}
        </table>
        <input type="submit" value="新增財產">
        <input type="reset" value="清除重填">
    </form>
</div>
{% endblock %}