<!-- insert.html -->
{% extends "base.html" %}
{% block title %}成大工資管財產管理系統{% endblock %}
{% block content %}
<div class='container'>
    {% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
    {% endif %}
    <form name='asset inserting form' action='.' method='POST'>
        <!-- 防止網站CSRF(Cross-site request forgery) -->
        {% csrf_token %}
        財產類別：
        <input type="radio" name="asset_type" value="property">財產
        <input type="radio" name="asset_type" value="non_consumable">非消耗品<br/>
        <label for=''>財產編號：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>品名：</label>
        <input id='' type='text' name=''><br/>
        附件：<br />
        <textarea name='user_post' rows=3 cols=70></textarea><br />
        <label for=''>單價：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>數量：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>單位：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>廠牌：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>型號：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>國別：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>序號：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>使用者：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>存放處所：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>使用年限：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>經費來源：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>購入日期：</label>
        <input id='' type='text' name=''><br/>
        <label for=''>報廢日期：</label>
        <input id='' type='text' name=''><br/>
        備註：<br />
        <textarea name='user_post' rows=3 cols=70></textarea><br />
        <input type='submit' value='新增'>
        <input type='reset' value='清除重填'>
    </form>
</div>
{% endblock %}