<!-- login.html -->
{% extends "base.html" %}
{% block title %}登入資產管理系統{% endblock %}
{% block content %}
<div class='container'>
    {% for message in messages %}
        <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
    {% endfor %}
    <div class='row'>
        <div class='col-md-12'>
            <h3 class="alert alert-primary">請輸入帳號和密碼</h3>
        </div>
    </div>
    <form action='.' method='POST'>
        {% csrf_token %}
            <table>
                {{ login_form.as_table }}
            </table>
        <input type='submit' value='登入'><br/>
    </form>
</div>
{% endblock %}